
$color1: #64b474; // noticeable
$color2: #9b61d4; // flashiest
$color3: #ebebeb; // light
$color4: #97999b; // darkest

$text-s_size: 8pt;

$button-width: 100px;
$button-height: 2em;
$button-bg-color1: $color1;
$button-color1: $color3;
$button-bg-color2: $color2;
$button-color2: $color3;